@page "/BasketPage"
@rendermode InteractiveServer

@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore
@using MolotovSportWeb.Models

@inject MolotovSportWebContext context
@inject Classes.Servers.UserStateService UserState


<h2  class="ZagolovokKorzina">Корзина</h2>
<pre class="CountTovar">Товаров: @shopingItems.Count штук</pre>

<tr>
    <td class="TableOneBakset">
        @foreach (var product in shopingItems)
        {

            <div class="ShopingAll">
                <img class="ImageStyleProduct2" src="@product.Product.ImageUrl" />

                <div class="StyleSize">
                    <pre class="ImageTextNameBacket">@product.Product.ProductName</pre>
                    <pre class="ImageSizeNameBacket">@product.Size.Size размер</pre>
                </div>

                <div class="ButtonDivCount">
                    <button class="buttonMinus" @onclick="() =>ClickMinusCount(product,Convert.ToInt32(product.Price / product.Count))">-</button>
                    <pre class="TextCountBasket">@product.Count</pre>
                    <button @onclick="() =>ClickPlusCount(product,Convert.ToInt32(product.Price / product.Count))" class="buttonPlus">+</button>
                </div>
                <pre class="PriceProductBasket">@Convert.ToInt32(product.Price) ₽</pre>

            </div>
            <br />


        }
        @foreach (var product in shopingItemsNotProduct)
        {
            <div class="ShopingNotProduct">
                <img class="ImageStyleProduct2" src="@product.Product.ImageUrl" />

                <div class="StyleSize">
                    <pre class="ImageTextNameBacket">@product.Product.ProductName</pre>
                    <pre class="ImageSizeNameBacket">@product.Size.Size размер</pre>
                    <h5 style="color: red">Недостаточное количество на складе</h5>
                </div>

                <div class="ButtonDivCount">
                    <button class="buttonMinus" @onclick="() =>ClickMinusCount(product,Convert.ToInt32(product.Price / product.Count))">-</button>
                    <pre class="TextCountBasket">@product.Count</pre>
                    <button @onclick="() =>ClickPlusCount(product,Convert.ToInt32(product.Price / product.Count))" class="buttonPlus">+</button>
                </div>
                <pre class="PriceProductBasket">@Convert.ToInt32(product.Price) ₽</pre>

            </div>
            <br />


        }
    </td>
    <td class="ItogBasket">
        <pre class="PriceProductBasketAll">Итог: @Convert.ToInt32(totalPrice) ₽</pre>
        <button @onclick="ClickOrder" class="ClickCreateOrder">Заказать</button>
    </td>
</tr>


@code {
    int idUser = 0;
    decimal totalPrice = 0;
    Classes.DataBase.ChangeProductUser changeProduct;
    List<ShopingItem> shopingItems = new List<ShopingItem>();
    List<ShopingItem> shopingItemsNotProduct = new List<ShopingItem>();
    ShopingCart shopingCart = new ShopingCart();

    public void LoadData()
    {
        shopingItems.Clear();
        shopingItemsNotProduct.Clear();

        ShopingCart ShopingCart = context.ShopingCarts.Where(u => u.UserId == idUser).First();
        shopingCart = ShopingCart;
        List<ShopingItem> ShopingItems = context.ShopingItems.Where(s => s.CartId == shopingCart.CartId).Include(p => p.Product).Include(p => p.Size).ToList();

        foreach(var item in ShopingItems)
        {
            var count = context.ProductSizes.Where(x => x.SizeId == item.SizeId).Select(x => x.Count).First();

            if(count >= item.Count)
            {
                shopingItems.Add(item);
            }
            else
            {
                shopingItemsNotProduct.Add(item);

            }
        }

        StateHasChanged();


    }

    protected override void OnParametersSet()

    {
        changeProduct = new Classes.DataBase.ChangeProductUser(UserState.UserId);
        idUser = UserState.CheakUserId();
        if (idUser != 0)
        {
            totalPrice = Classes.DataBase.StaticTotal.GetTotalPrice(idUser);
            LoadData();
        }
        StateHasChanged();
    }



    public void ClickMinusCount(ShopingItem item, int price)
    {

        changeProduct.ChangeMinusCount(item, price);
        OnParametersSet();
        StateHasChanged();
    }


    public void ClickPlusCount(ShopingItem item, int price)
    {

        changeProduct.ChangePlusCount(item, price);
        OnParametersSet();
        StateHasChanged();
    }

    public void ClickOrder(){
        Components.Classes.Save.FileWork fileWork = new Classes.Save.FileWork();
        fileWork.Write(UserState);
        navigationManager.NavigateTo("/MakingOrderUser");

    }


}